html{
    background-color:honeydew;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
hr{
    margin: 0 4px;
    border: 1px solid black;
    border-radius: 3px;
}
footer{
    text-align: center;
    margin-top: auto;
}

/* Navigation bar*/
div.nav-bar{
    background-color: honeydew;
    top: 0;
    position: sticky;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    border-bottom: black solid 2px;
    border-left: black solid 2px;
 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
div.home{
    float: left;
    text-align: center;
}
div.home a:hover{
    color: rgb(83, 17, 42);
}
a{
    text-decoration: none;
    color: black;
}

/* Buttons */
div.buttons{
    display: inline-block;
    float: right;
}
.right-btn{
    padding: 25px 10px;
    text-align: center;
    float: right;
}
.left-btn{
    padding: 25px 10px;
    text-align: center;
    float: left;
}
#btn-add{
    background-color: rgb(195, 196, 141);
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: bold;
    border: solid black 2px;
}
#btn-add:hover{
    background-color:dodgerblue;
    color: rgb(255, 255, 255);

}
#delete-product-btn{
    background-color: rgb(195, 196, 141);
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: bold;
    border: solid black 2px;

}
#delete-product-btn:hover{
    background-color:rgb(253, 48, 48);
}

form#invisble{
    display: none;
    text-align: center;
}
/* Product-list containers*/

div.products{
    display: flex;
    justify-content:center;
    max-width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
div.product-container{
    width: 200px;
    height: auto;
    float:left;
    text-align: center;
    background-color: rgb(195, 196, 141);
    border-radius: 5px;
    border: solid black 1px;
    list-style-type: none;
   /* padding: 20px;
    margin: 10px 10px 10px 5px;*/
    padding:2%;
    margin: 1%;


}
input.delete-checkbox{
    float: left;
}

/* Product add Form*/
.hidden{
    margin-bottom: 5%;
}
div.form{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
form#add{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top:auto;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}
form#add input{
    height: 30px;
    border-radius: 4px;
    border: black solid 1px;

}

form#add select{
    height: 30px;
    border-radius: 4px;
    width: 100px;
}
input#save{
    background-color:dodgerblue;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
input#cancel{
    background-color:rgb(253, 48, 48);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;

}

form#add div.hidden div#size_input_field{
    display: none;
}
form#add div.hidden div#weight_input_field{
    display: none;
}
form#add div.hidden div#dimensions_input_field{
    display: none;
}

